{% extends 'base.html' %}
{% block title %}Majors{% endblock %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="page-header">
        <h2>Explore Majors at {{ school.name }}</h2>
        <p class="instruction-text">Click on a major to see detailed information, available courses, and related
            academic plans.</p>
    </div>
    <div class="mt-4">
        {% for major in majors %}
        <div class="major-card">
            <a href="{% url 'major_detail' major.id %}">
                {{ major.name }}
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="mt-3">
        {% if is_tutor %}
        <a href="{% url 'tutor_dashboard_view' %}" class="btn btn-outline-secondary back-to-dashboard-btn">Return to Tutor
            Dashboard</a>
        {% else %}
        <a href="{% url 'student_dashboard_view' %}" class="btn btn-outline-secondary back-to-dashboard-btn">Return to Student
            Dashboard</a>
        {% endif %}
    </div>
    <div class="mt-3">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">Go Back</a>
    </div>
</div>
{% endblock %}