{% extends 'base.html' %}
{% block title %}Completed Courses{% endblock %}


{% block content %}


<body>
    <div class="container mt-4">
        <h1 class="mb-4">Edit Completed Course</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3"> 
                <label for="id_course">Course:</label>
                {{ form.course }}
            </div>
            <div class="form-group mb-3"> 
                <label for="id_grade">Grade:</label>
                {{ form.grade }}
            </div>
            <div class="form-group mb-3"> 
                <label for="id_year">Year:</label>
                {{ form.year }}
            </div>
            <div class="form-group mb-3"> 
                <label for="id_custom_semester">Semester:</label>
                {{ form.custom_semester }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'completed_courses' %}" class="btn btn-secondary">Back to Completed Courses</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}

